<?xml version="1.0" encoding="UTF-8"?>  
<Configuration status="info">  
    <Appenders>  
        <Console name="Console" target="SYSTEM_OUT" follow="true">  
            <PatternLayout>  
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>  
            </PatternLayout>  
        </Console>  
        <File name="File" fileName="log/log.txt">  
            <PatternLayout>  
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>  
            </PatternLayout>  
        </File>  
    </Appenders>  
    <Loggers>  
        <Root level="info">  
            <AppenderRef ref="Console" />  
            <AppenderRef ref="File" /> 
        </Root>  
    </Loggers>  
</Configuration>  